@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


:root {
  /* Suas variáveis de cor, borda, etc */
  --font-main: 'Inter', Arial, sans-serif;
  --color-primary: #8459b4;
  /* ... */
}

body {
  font-family: var(--font-main);
  background: #fafafa;
  margin: 0;
}
